<%= form_tag search_url, :method => "post" do %>
  <%= label_tag "Search Users:" %>
  <%= text_field_tag "query" %>
  <%= submit_tag %>
<% end %>


<% @users.each do |user| %>

<ul>
  <li><%= link_to user.first_name, user_url(user.id) %></li>
  <li><%= user.about_me %></li>
  <li><%= user.gender %>, <%= user.age %> years old.</li>
  <li>From: <%= user.location %></li>
</ul>

<% end %>

